.item-information h1 {
  font-size: 28px;
  font-weight: 700;
}

.item-information h2 {
  font-size: 12px;
  font-weight: 700;
  color: rgb(102, 102, 102);
}

.item-information p {
  color: rgb(102, 102, 102);
  font-size: 16px;
  font-weight: 400;
}
